<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390217837576-31pji3eggm3ionkrfui8406f5auf5jrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390217837576-31pji3eggm3ionkrfui8406f5auf5jrj</string>
	<key>API_KEY</key>
	<string>AIzaSyADlMg3TGOExFkr7bkuMc5mzBR3_cgVOk8</string>
	<key>GCM_SENDER_ID</key>
	<string>390217837576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thinksys.habitTracker</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-7eaa0</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-7eaa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390217837576:ios:973eadfa65b91442b7b5bd</string>
</dict>
</plist>